@using PagedList;
@using PagedList.Mvc;

@using Resume.Models;

@model PagedList.PagedList<Resume.Models.BlogArticle>

@{
    ViewBag.Title = "Index";
}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Post - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/blog-post.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<nav class="navbar navbar-default navbar-fixed-top" id="main-nav" role="navigation">
    <div class="container">
        <!-- brand and toggle -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- navigation links -->
        <div class="collapse navbar-collapse main-nav-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/Home">HOME</a></li>
                <li><a href="/Profile">ABOUT ME</a></li>
                <li><a href="/Skills">SKILLS</a></li>
                <li><a href="/Experience">RESUME</a></li>
                <li><a href="/Contact">CONTACTS</a></li>
                <li><a href="/Projects">PROJECTS</a></li>
                <li><a href="/BlogArticle">BLOG</a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="section blog" id="blog">
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-3">
                        <p>@Html.ActionLink("New Entry", "Create")</p>                           
                    </div>
                </div>
            </div>
            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
                @foreach (var item in Model)
                {
                    if (item.MediaUrl != null)
                    {
                        <img src="@Url.Content(item.MediaUrl)" class="img-responsive" />
                    }
                    else
                    {
                        <img src="/img/smallbricks.png" />
                    }
                    <div class="row" style="height:10px"></div>
                    <div class="row">
                        <div class="col-md-8">
                            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5><span>@String.Format("{0:dddd, MMMM d, yyyy}", item.CreateDate)</span></h5>
                        </div>                                            
                    </div>
                    <div class="row"></div>
                    <div class="row">
                        @*<div class="col-md-1"></div>*@
                        <div class="col-md-10">
                            @Html.Raw(item.Body)
                        </div>                      
                    </div>
                    <div class="row">
                        @*<div class="col-md-1"></div>*@
                        <div class="col-md-3">
                            @if (User.IsInRole("Admin"))
                            {
                                <p>
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </p>
                            }
                            else
                            {
                                <p>
                                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                                </p>
                            }
                        </div>                        
                    </div>
                    <div class="row" style="height:10px"></div>
            }
            <ul class="pager">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, ViewBag.Query }))
            </ul>

    </div>          
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <form method="get" action="@Url.Action("Index")">
                            <input type="text" name="query" value="@ViewBag.Query" style="width:275px"/>
                            @*<span class="input-group-btn">*@
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            @*</span>*@
                            @*<button type="submit">Submit</button>*@
                        </form>
                    </div>
                    <!-- /.input-group -->
                </div>
                <!-- Blog Categories Well -->
                <!-- Side Widget Well -->
            </div>           
        </div>
        <!-- Footer -->
    </div>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Tom Setliff 2015</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>
</section>

<!-- /.container -->
<!-- jQuery -->
<script src="/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/scripts/bootstrap.min.js"></script>