@using PagedList;
@using PagedList.Mvc;

@using Resume.Models;

@model PagedList.PagedList<Resume.Models.BlogArticle>

@{
    ViewBag.Title = "Index";
}


<section class="section blog" id="blog">
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    @if(User.Identity.IsAuthenticated)
                    {
                        <div class="col-md-3">
                            <p>@Html.ActionLink("New Entry", "Create")</p>                           
                        </div>
                    }
                    else
                    {
                        <div class="col-md-3">
                            <p><a href="@Url.Action("Login", "Account", routeValues: new {@returnUrl = ViewContext.HttpContext.Request.Url.PathAndQuery})">Log In</a></p>
                        </div>
                    }
                </div>
            </div>
            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
                @foreach (var item in Model)
                {
                    if (item.MediaUrl != null)
                    {
                        <img src="@Url.Content(item.MediaUrl)" class="img-responsive" />
                    }
                    else
                    {
                        <img src="/img/smallbricks.png" />
                    }
                    <div class="row" style="height:10px"></div>
                    <div class="row">
                        <div class="col-md-8">
                            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5><span>@String.Format("{0:dddd, MMMM d, yyyy}", item.CreateDate)</span></h5>
                        </div>                                            
                    </div>
                    <div class="row"></div>
                    <div class="row">
                        @*<div class="col-md-1"></div>*@
                        <div class="col-md-10">
                            @Html.Raw(item.Body)
                        </div>                      
                    </div>
                    <div class="row">
                        @*<div class="col-md-1"></div>*@
                        <div class="col-md-3">
                            @if (User.IsInRole("Admin"))
                            {
                                <p>
                                    @Html.ActionLink("Details", "Details", new { Slug = item.Slug }) |
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </p>
                            }
                            else
                            {
                                <p>
                                    @Html.ActionLink("Details", "Details", new { Slug = item.Slug })
                                </p>
                            }
                        </div>                        
                    </div>
                    <div class="row" style="height:10px"></div>
            }
            <ul class="pager">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, ViewBag.Query }))
            </ul>

    </div>          
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <form method="get" action="@Url.Action("Index")">
                            <input type="text" name="query" value="@ViewBag.Query" style="width:275px"/>
                            @*<span class="input-group-btn">*@
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            @*</span>*@
                            @*<button type="submit">Submit</button>*@
                        </form>
                    </div>
                    <!-- /.input-group -->
                </div>
                <!-- Blog Categories Well -->
                <!-- Side Widget Well -->
            </div>           
        </div>
        <!-- Footer -->
    </div>
    <footer>
        <div class="row container">
            <div class="col-lg-12">
                <p>Copyright &copy; Tom Setliff 2015</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>
</section>
